{% extends 'base.html' %}

{% block conteudo %}
{%if ja_existe %}
<script type="text/javascript">
	window.location = "http://localhost/{{id_relatorio}}"
</script>
{%endif%}

	<div class="hero-unit" style="margin-bottom:0px">
		<div class="page-header">
	    	<h1>Cadastro de pedido <small><br /><br />Preencha os campos abaixo e em breve você receberá um email com o resultado da sua busca</small></h1>
	    </div>
	    {% if success %}
	        <div class="alert alert-success">
			    <button type="button" class="close" data-dismiss="alert">&times;</button>
			    <strong>Aguarde!</strong> Sua solicitação foi realizada com sucesso. Em breve você receberá um email com o resultado da sua busca.
		    </div>
		{% endif %}
	    <form id="form-busca" method="POST" action="." class="form-horizontal">
	    	{% csrf_token %}
		<fieldset class="well conteudo-form">
			{% for field in form %}
				<div class="control-group{% if field.errors %} error{% endif %}">
				    <label class="control-label">{{ field.label_tag }}</label>
				    <div class="controls">
				    	{{ field }}
				    	{% if field.errors %}
				    		<span class="help-block">{{ field.errors|join:", " }}</span>
				    	{% endif %}
				    </div>
				</div>
			{% endfor %}

			{% comment %}
	    	<div class="control-group">
			    <label class="control-label" for="inputUniversidade">Nome</label>
			    <div class="controls">
			    	<input type="text" name="nome" class="span6" id="inputUniversidade" placeholder="Ex. Seu Nome">
			    	{% if form.errors['nome'] %}{{form.errors['nome']}}{% endif %}
			    </div>
			</div>
			<div class="control-group">
			    <label class="control-label" for="inputUniversidade">E-mail</label>
			    <div class="controls">
			    	<input type="email" name="email" class="span6" id="inputUniversidade" placeholder="Ex. test@exemplo.com">
			    	{% if form.errors['nome'] %}{{form.errors['nome']}}{% endif %}
			    </div>
			</div>
		    <div class="control-group">
			    <label class="control-label" name="universidade" for="inputUniversidade">Universidade</label>
			    <div class="controls">
			    	<input type="text" class="span6" id="inputUniversidade" placeholder="Ex. UFPE">
			    	{% if form.errors['nome'] %}{{form.errors['nome']}}{% endif %}
			    </div>
			</div>
		    <div class="control-group">
		    	<label class="control-label" for="inputPassword">Período</label>
		    	<div class="controls">
		    		{% if form.errors['nome'] %}{{form.errors['nome']}}{% endif %}
		    		<select name="de" class="span2">
		    			<option value="">Selecione</option>
						<option value="2000">2000</option>
						<option value="2001">2001</option>
						<option value="2002">2002</option>
						<option value="2003">2003</option>
						<option value="2004">2004</option>
						<option value="2005">2005</option>
						<option value="2006">2006</option>
						<option value="2007">2007</option>
						<option value="2008">2008</option>
						<option value="2008">2009</option>
						<option value="2008">2010</option>
						<option value="2008">2011</option>
						<option value="2008">2012</option>
						<option value="2008">2013</option>
					</select>
					 <small>até</small> 
					 {% if form.errors['ate'] %}{{form.errors['ate']}}{% endif %}
					<select name="ate" class="span2">
						<option value="">Selecione</option>
						<option value="2000">2000</option>
						<option value="2001">2001</option>
						<option value="2002">2002</option>
						<option value="2003">2003</option>
						<option value="2004">2004</option>
						<option value="2005">2005</option>
						<option value="2006">2006</option>
						<option value="2007">2007</option>
						<option value="2008">2008</option>
						<option value="2008">2009</option>
						<option value="2008">2010</option>
						<option value="2008">2011</option>
						<option value="2008">2012</option>
						<option value="2008">2013</option>
					</select>
		    	</div>
		    	</div>
	    	{% endcomment %}
		    <div class="control-group">
			    <div class="controls">
				    
			    	<button type="submit" class="btn btn-primary btn-large"><i class="icon-ok icon-white"> </i> Enviar</button>
			    	&nbsp;&nbsp;
			    	<button type="button" class="btn"><i class="icon-trash"> </i> Limpar</button>
		    	</div>
	    	</div>
		</fieldset>
    </form>
	</div>

{% endblock %}
