{% extends 'base.html' %}

{% block conteudo %}
    <div class="hero-unit destaque">
	    <h1 class="titulo">Website content planning made simple.</h1>
	    <p>We help web teams plan, structure and collaborate on content.</p>
	    <p>
	    	<a href="{% url 'busca' %}" class="btn btn-primary btn-large">Learn more</a>
	    </p>
    </div>
    <div class="hero-unit" style="margin-bottom:0px">
    	    <ul class="thumbnails">
			    <li class="span4">
			    <div class="thumbnail">
				    <img data-src="{{ STATIC_URL }}img/img-list1.png" src="{{ STATIC_URL }}img/img-list1.png" alt="">
				    <h3>Thumbnail label</h3>
				    <p>Thumbnail caption...</p>
			    </div>
			    </li>
		    	<li class="span4">
			    <div class="thumbnail">
				    <img data-src="{{ STATIC_URL }}img/img-list1.png" src="{{ STATIC_URL }}img/img-list1.png" alt="">
				    <h3>Thumbnail label</h3>
				    <p>Thumbnail caption...</p>
			    </div>
			    </li>
			    <li class="span4">
			    <div class="thumbnail">
				    <img data-src="{{ STATIC_URL }}img/img-list1.png" src="{{ STATIC_URL }}img/img-list1.png" alt="">
				    <h3>Thumbnail label</h3>
				    <p>Thumbnail caption...</p>
			    </div>
			    </li>
		    </ul>

    </div>
    {% endblock %}