{% extends 'base.html' %}

{% block conteudo %}
    <div class="hero-unit destaque">
	    <h1 class="titulo">Busque informações de forma simples.</h1>
	    <p>Search College facilita o acesso às informações acadêmicas de todas as universidades do Brasil.</p>
	    <p>
	    	<a href="{% url busca %}" class="btn btn-primary btn-large">Buscar agora!</a>
	    </p>
    </div>
    <div class="hero-unit" style="margin-bottom:0px">
    	    <ul class="thumbnails">
			    <li class="span4">
			    <div class="thumbnail">
				    <img data-src="{{ STATIC_URL }}img/img-list1.png" src="{{ STATIC_URL }}img/img-list1.png" alt="">
				    <h3>Integração com o Lattes</h3>
				    <p>O search College realiza buscas diretamente na plataforma de currículos acadêmicos do CNPq. Realizando filtros e melhorando a busca de informações acadêmicas em todas as universidades do Brasil.</p><br /><br />
			    </div>
			    </li>
			    <li class="span4">
			    <div class="thumbnail">
				    <img data-src="{{ STATIC_URL }}img/img-list1.png" src="{{ STATIC_URL }}img/img-list1.png" alt="">
				    <h3>Currículos Lattes</h3>
				    <p>São considerados um padrão nacional de avaliação representando um histórico das atividades científicas / acadêmicas / profissionais de pesquisadores cadastrados. </p><br /><br /><br />
			    </div>
			    </li>
		    	<li class="span4">
			    <div class="thumbnail">
				    <img data-src="{{ STATIC_URL }}img/img-list1.png" src="{{ STATIC_URL }}img/img-list1.png" alt="">
				    <h3>Acesso a informações</h3>
				    <p>Informações como:<br />produções bibliográficas, produções técnicas, produções artísticas, orientações, projetos de pesquisa, prêmios e títulos, grafo de colaborações, mapa de geolocalização, e coautoria e internacionalização.</p>
			    </div>
			    </li>
			    
		    </ul>

    </div>
    {% endblock %}